body{
    background-color: hsl(234, 29%, 20%);
}

.bigboy {
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 80%;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,.7), inset 0 -15
    #ffffff, 0 0 10px rgba(0,0,0,.7), inset 0 15
    #ffffff;
}

form {
    background-color: #ffffff;
    display: block;
    margin: auto;
    width: 80%;
    height: 590px;
    line-height: 30px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all .3s ease-in-out;
    border-radius: 20px;
}

form .h2 {
    color: black;
}